.sidebar {
  background-color: $gray-10;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: $z-sidebar;

  @include media-sm-up {
    border-right: 1px solid $gray-50;
    top: 0;
    width: $sidebar-width;
  }

  @include media-sm-down {
    display: none;
    top: $navbar-height;

    &.sidebar--open {
      display: flex;
    }
  }

  // Add an icon after links to external pages
  a[target='_blank']:after {
    content: url(~assets/images/icons/external-link.svg);
    margin: 0 $gl-spacing-2 0 $gl-spacing-2;
  }
}

.sidebar__header {
  padding: $gl-spacing-3;

  @include media-sm-down {
    display: none;
  }
}

.sidebar__nav {
  ul {
    margin: 0;
    padding-left: 0;

    li {
      @include unstyled-list;
    }
  }

  > ul > li + li {
    &::before {
      border-top: 1px solid $gray-50;
      content: '';
      display: block;
      margin: $gl-spacing-3;
    }
  }
}

.sidebar__nav-anchor,
.sidebar__nav-toggle {
  border-radius: $border-radius;
  color: $gray-900;
  display: block;
  padding: $gl-spacing-3 $gl-spacing-3 $gl-spacing-3 $gl-spacing-4;

  &:hover,
  &:focus {
    background-color: $gray-50;
  }

  &:active {
    background-color: $gray-100;
  }
}

.sidebar__nav--depth-1 {
  .sidebar__nav-anchor,
  .sidebar__nav-toggle {
    padding-left: $gl-spacing-6;
  }
}

.sidebar__nav--depth-2 {
  .sidebar__nav-anchor,
  .sidebar__nav-toggle {
    padding-left: $gl-spacing-6 + $gl-spacing-5;
  }
}

.sidebar__nav-option,
.sidebar__nav-toggle {
  margin-bottom: 1px !important;
}

.sidebar__nav-toggle {
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  text-align: left;
  width: 100%;

  svg {
    fill: $gray-400;
    flex-grow: 0;
    flex-shrink: 0;
    height: 16px;
    width: 16px;
  }
}

.sidebar__nav-toggle-inner {
  align-items: center;
  display: flex;
  gap: $gl-spacing-2;

  > span {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.sidebar__nav-toggle--expanded {
  background-color: $gray-10;
  position: sticky;
  top: -$gl-spacing-3;
  z-index: $z-sidebar;

  svg {
    transform: rotate(180deg);
  }
}

.sidebar__nav-anchor {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.nuxt-link-active {
    position: relative;
    background-color: $gray-50;

    &::before {
      content: '';
      background-color: $purple-500;
      border-radius: $border-radius;
      display: block;
      position: absolute;
      top: 3px;
      left: 3px;
      bottom: 3px;
      width: 3px;
    }
  }
}
